<div class="row">
  <%= render partial: "layouts/sidebar" %>
  <div class="small-12 medium-9 columns">
    <h3>My tasks</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae sagittis turpis. Fusce vitae dui eu mauris ultricies consequat.</p>
    
    <h5>Tasks todo</h5>
    
    <table>
      <% @todo.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.description %></td>
          <td><%= link_to task.project, task.project %></td>
          <td><%= task.owner %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

