<h1>Listing topics of <%= @project.title %></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= link_to 'Show', project_topic_path(@project, topic) %></td>
        <td><%= link_to 'Edit', edit_project_topic_path(@project, topic) %></td>
        <td><%= link_to 'Destroy', project_topic_path(@project, topic), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_project_topic_path(@project)%>
