<p id="notice"><%= notice %></p>

<h4><%= @topic.title %></h4>
<p><%= @topic.content %></p>

<ul>
    <% @topic.comments.each do |comment| %>
      <li>
        <%= comment.content %>
      </li>
    <% end %>
</ul>

<%= simple_form_for [@project, @topic, @comment] do |f|%>
  <%= f.input :content %>
  <%= f.button :submit, "Comment" %>
<% end %>

<%= link_to 'Delete', project_topic_path(@project, @topic), method: :delete %>
<%= link_to 'Edit', edit_project_topic_path(@project, @topic) %> |
