<div class="row">
  <div class="small-12 medium-3 columns">
    <ul class="side-nav">
      <li><%= link_to "Create new project", new_project_path %></li>
    </ul>
  </div>
  <div class="small-12 medium-9 columns">
    <h1>Listing projects</h1>

    <table>
      <thead>
        <tr>
          <th>Project</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.title %></td>
            <td><%= project.description %></td>
            <td>
              <%= link_to 'Show', project %>
              <%= link_to 'Edit', edit_project_path(project) %>
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>