<div class="row">
  <%= render partial: "layouts/sidebar" %>
  <div class="small-12 medium-9 columns">
    <h4>My projects</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae sagittis turpis. Fusce vitae dui eu mauris ultricies consequat.</p>

    <%= link_to "Create New Project", new_project_path, class: "button small pull-right" %>

    <h5>My owned projects</h5>

    <table>
      <% @owned_projects.each do |project| %>
        <tr>
          <td><%= link_to project.title, project %></td>
          <td><%= project.description %></td>
        </tr>
      <% end %>
    </table>

    <h5>Others projects I'm participating</h5>

    <table>
      <% @participating_projects.each do |project| %>
        <tr>
          <td><%= link_to project.title, project %></td>
          <td><%= project.description %>
        </tr>
      <% end %>
    </table>
  </div>
</div>