<div class="row">
  
  <%= render partial: "layouts/sidebar" %>

  <div class="small-12 medium-9 columns">
    <h4><%= @project.title %></h4>
    <p>Owners:
    <% @project.owners.each do |owner| %>
      <%= link_to owner.email, "#" %>
    <% end %>
    </p>

    <%= @project.description %>

    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Delete', @project, method: "delete" %> |
    <%= link_to 'Back', projects_path %>

    <h5>Lastest todo tasks</h5>

    <table>
      <% @last_todo_tasks.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.owner.email %></td>
        </tr>
      <% end %>
    </table>

    <h5>Lastest completed tasks</h5>
    <table>
      <% @last_completed_tasks.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.owner.email %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>